<form class="actor-sheet" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" width="100" height="100" data-edit="img"/>
    <div class="header-fields">
      <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Nom du personnage"/></h1>
      <p><strong>Type :</strong> {{actor.type}}</p>
    </div>
  </header>

  <section class="sheet-body">
    <h2>Caractéristiques</h2>
    <table class="attributes">
      <tr>
        <th>Nom</th><th>Valeur</th>
      </tr>
      {{#each system.characteristics}}
      <tr>
        <td>{{@key}}</td>
        <td><input type="number" name="system.characteristics.{{@key}}" value="{{this}}" data-dtype="Number"/></td>
      </tr>
      {{/each}}
    </table>

    <h2>Compétences</h2>
    <table class="skills">
      <tr>
        <th>Nom</th><th>Valeur</th>
      </tr>
      {{#each system.skills}}
      <tr>
        <td>{{@key}}</td>
        <td><input type="number" name="system.skills.{{@key}}" value="{{this}}" data-dtype="Number"/></td>
      </tr>
      {{/each}}
    </table>

    <div class="roll-test">
      <button type="button" class="request-roll">Tester un jet</button>
    </div>
  </section>
</form>
