src/templates/actor/character.html
<div class="sheet">
  <h2>{{localize "actor.character.title"}}</h2>
  <div class="form-group">
    <label>{{localize "attribute.strength"}}</label>
    <input type="number" name="system.attributes.strength.value" value="{{system.attributes.strength.value}}" />
  </div>
  <div class="form-group">
    <label>{{localize "attribute.dexterity"}}</label>
    <input type="number" name="system.attributes.dexterity.value" value="{{system.attributes.dexterity.value}}" />
  </div>
  <div class="form-group">
    <label>{{localize "attribute.intelligence"}}</label>
    <input type="number" name="system.attributes.intelligence.value" value="{{system.attributes.intelligence.value}}" />
  </div>
  <div class="form-group">
    <label>{{localize "attribute.willpower"}}</label>
    <input type="number" name="system.attributes.willpower.value" value="{{system.attributes.willpower.value}}" />
  </div>
  <div class="form-group">
    <label>{{localize "attribute.perception"}}</label>
    <input type="number" name="system.attributes.perception.value" value="{{system.attributes.perception.value}}" />
  </div>
  <div class="form-group">
    <label>{{localize "attribute.knowledge"}}</label>
    <input type="number" name="system.attributes.knowledge.value" value="{{system.attributes.knowledge.value}}" />
  </div>
  <div class="form-group">
    <label>{{localize "attribute.charisma"}}</label>
    <input type="number" name="system.attributes.charisma.value" value="{{system.attributes.charisma.value}}" />
  </div>
  <div class="form-group">
    <label>{{localize "attribute.luck"}}</label>
    <input type="number" name="system.attributes.luck.value" value="{{system.attributes.luck.value}}" />
  </div>
</div>